/*----------------------RESET CSS-----------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------------------------------------------------*/
/* Menghapus margin dan padding dari body dan root */
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Nunito';
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  margin: 10px;
}

/* Pastikan .App memenuhi 100% dari lebar dan tinggi root */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.App.dark {
  background-color: #12333A;
  color: #FA6400;
}

.App.light {
  background-color: #FEB300;
  color: #12333A;
}

.theme-toggle {
  margin: 1em;
  padding: 0.5em;
  background-color: #ff8c42;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search-bar input {
  padding: 0.5em;
  margin-right: 0.5em;
  margin: 10px;
}

.recipe-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.recipe-item {
  margin: 1em;
  padding: 1em;
  width: 200px;
  text-align: center;
  background-color: #fff;
  position: relative;
  min-height: 325px;
}

.recipe-item img {
  width: 100%;
  border-radius: 5px;
}

.App.light .btnStyle {
  background-color: #12333A; 
  color: #FFF; 
}

.App.dark .btnStyle {
  background-color: #FA6400; 
  color: #FFF; 
}

.btnStyle {
  padding: 10px;
  font-size: 16px;
  border-radius: 0; 
  cursor: pointer;
  border: none;
  align-items: center;
  bottom: 0;
  position: absolute;
  bottom: 10px;
  left: 50%; 
  transform: translateX(-50%);
}

.App.light .btnStyleSearch {
  background-color: #12333A; 
  color: #FFF; 
}

.App.dark .btnStyleSearch {
  background-color: #FA6400; 
  color: #FFF; 
}

.btnStyleSearch {
  padding: 7px;
  font-size: 16px;
  border-radius: 2px; 
  cursor: pointer;
  border: none;
  align-items: center;
  bottom: 0;
}